@import 'define';

body {
    margin: 0;
    color: var(--color-text-base);
    font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ";
    font-size: 16px;
    line-height: 28px;
    background-color: var(--color-base);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "kern";
    font-kerning: normal;
}

.wrapper {
    width: var(--min-width-pc);
    margin: 0 auto;
    position: relative;

    @include mobile {
        width: 100%;
    }
}

.title-container {
    font-family: 'Poppins';
    line-height: 1;
    text-align: center;

    .title-main {
        margin: 0;
        padding-top: 110px;
        font-size: 42px;
        font-weight: 600;

        @include mobile {
            font-size: 32px;
        }
    }

    .title-sub {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 300;

        @include mobile {
            font-size: 14px;
        }
    }

    .sns-btn-list {
        width: 165px;
        margin: 20px auto 0;
        display: flex;
        justify-content: space-between;

        a.sns-btn {
            width: 30px;
            height: 30px;
            transition-property: opacity;
            transition-duration: 200ms;
            display: block;

            &.x {
                background-image: url(../assets/media/x.svg);
            }

            &.instagram {
                background-image: url(../assets/media/instagram.svg);
            }

            &.github {
                background-image: url(../assets/media/github.svg);
            }

            &.zenn {
                background-image: url(../assets/media/zenn.svg);
            }

            &:hover {
                opacity: 0.4;
            }
        }
    }
}

.intro {
    padding-top: 40px;

    .lead-sentense {
        width: 640px;
        margin: 0 auto;
        text-align: justify;

        @include mobile {
            width: auto;
            margin: 0 15px;
            font-size: 14px;
        }
    }

    a.learn-more {
        width: 260px;
        height: 40px;
        margin: 40px auto;
        color: var(--color-btn-text);
        background-color: var(--color-btn-bg);
        line-height: 40px;
        text-align: center;
        text-decoration: none;
        border-radius: 20px;
        display: block;
        transition-property: background-color;
        transition-duration: 200ms;

        &:hover {
            background-color: var(--color-btn-bg-hover);
        }

        &:after {
            width: 7px;
            height: 12px;
            margin-left: 10px;
            background-image: url(../assets/icon-next.svg);
            content: '';
            display: inline-block;
        }
    }
}
