@use 'define';

.presentation {
    section {
        margin-top: 40px;

        @include define.mobile {
            margin: 40px 15px 0;
        }
    }

    h2.section-name {
        margin-top: 0;
        margin-bottom: 40px;
        color: var(--color-theme);
        font-family: "Poppins";
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }

    .slide-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px 42px;

        @include define.mobile {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
