@use 'define';

.presentation {
    section {
        margin-top: 40px;

        @include define.mobile {
            margin: 40px 15px 0;
        }
    }

    .slide-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px 42px;

        @include define.mobile {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
