@use 'define';

.profile {
    section {
        min-width: calc(var(--min-width-pc) + 40px);
        margin-top: 40px;

        &:first-of-type {
            margin-top: 0;
        }

        &.certifications {
            padding: 40px 0;
            background-color: var(--color-certification-list-wrapper-bg);
        }

        @include define.mobile {
            min-width: auto;
        }
    }

    .skill-main-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;

        @include define.mobile {
            margin: 0 15px;
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }
    }

    .skill-list {
        width: 720px;
        margin: 40px auto 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;

        @include define.mobile {
            width: auto;
            margin-left: 15px;
            margin-right: 15px;
            justify-content: left;
        }
    }

    .certification-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        @include define.mobile {
            margin: 0 10px;
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }
    }

    .award-list {
        width: 640px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 50px;

        @include define.mobile {
            width: auto;
            margin: 0 10px;
        }
    }

    .career-list {
        width: 640px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include define.mobile {
            width: auto;
            margin: 0 15px;
        }
    }
}
