@use 'define';

.sp-menu {
    width: 100%;
    height: 100%;
    background-color: var(--color-base);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 200ms;

    &.open{
        opacity: 1;
    }

    .sp-menu-close-btn {
        width: 50px;
        height: 50px;
        background-image: url(../assets/icon-menu-close.svg);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 25px;
        position: absolute;
        top: 0;
        right: 5px;
        display: block;
        transition-property: background-color;
        transition-duration: 200ms;

        &:hover {
            background-color: var(--color-header-btn-bg-hover);
        }
    }

    .sp-menu-container {
        margin: 145px 20px 0;
    }

    .header-title-container {
        color: var(--color-text-base);
        font-family: 'Poppins';
        text-decoration: none;
        display: block;

        @include define.mobile {
            padding-top: 8px;
        }

        .title-main {
            font-size: 32px;
            font-weight: 600;
            line-height: 1;
        }
        .title-sub {
            font-size: 14px;
            font-weight: 300;
            line-height: 1;
            margin-top: 5px;
            margin-left: 2px;
        }
    }

    .menu-list {
        margin-top: 65px;
        margin-bottom: 30px;

        a.menu-item {
            height: 50px;
            padding: 0 10px;
            color: var(--color-text-base);
            text-decoration: none;
            border-radius: 5px;
            display: flex;
            align-items: center;
            transition-property: background-color;
            transition-duration: 200ms;

            &:hover {
                background-color: var(--color-header-btn-bg-hover);
            }

            .en {
                font-family: 'Poppins';
                font-size: 24px;
                font-weight: 600;
            }

            .ja {
                margin-left: 15px;
                font-size: 12px;
            }
        }
    }
}
