@use 'define';

.hero {
    min-width: calc(var(--min-width-pc) + 40px);
    height: 480px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    @include define.mobile {
        min-width: 100%;
    }

    &:before {
        content: '';
        background-image: url(../assets/hero_bg.png);
        background-position: left top;
        background-repeat: repeat;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    video {
        min-width: 100%;
        min-height: 100%;
        background-image: url(../assets/hero.jpg);
        background-size: cover;
        background-position: center;
        object-fit: cover;
        position: absolute;
        z-index: -1;
    }

    .title-container {
        color: var(--color-hero-text);
        text-shadow: 0 0 10px var(--color-hero-shadow);
        z-index: 1;

        .title-main {
            padding-top: 0;
        }
    }
}

.work-list {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 42px;

    @include define.mobile {
        grid-template-columns: repeat(1, 1fr);
    }
}
