@use 'define';

main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero {
    min-width: calc(var(--min-width-pc) + 40px);
    height: 480px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    @include define.mobile {
        min-width: 100%;
        height: 320px;
    }

    &:before {
        content: '';
        background-image: url(../assets/hero_bg.png);
        background-position: left top;
        background-repeat: repeat;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    video {
        min-width: 100%;
        min-height: 100%;
        background-image: url(../assets/hero.jpg);
        background-size: cover;
        background-position: center;
        object-fit: cover;
        position: absolute;
        z-index: -1;
    }

    // 基本的な実装はcommon.scssにある
    .page-title-container {
        padding-top: 0;
        color: var(--color-hero-text);
        text-shadow: 0 0 10px var(--color-hero-shadow);
        z-index: 1;
    }
}

.contact-link {
    width: 260px;
    height: 40px;
    color: var(--color-white);
    font-weight: bold;
    background-color: var(--color-blue-900);
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    display: block;
    transition-property: background-color;
    transition-duration: 200ms;

    &:hover {
        background-color: var(--color-blue-600);
    }

    &:after {
        width: 7px;
        height: 12px;
        margin-left: 10px;
        background-image: url(../assets/icon-next.svg);
        content: '';
        display: inline-block;
    }
}

.work-list {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 42px;

    @include define.mobile {
        margin: 0 15px;
        grid-template-columns: repeat(1, 1fr);
    }
}

.learn-more-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
